<div class="region-sidebar-first-wrapper col-lg-4">
  <div class="region-sidebar-first text-bg-light p-4">
    <h3><%= I18n.t('image.quick_guide.heading') %> </h3>
    <%= render 'sidebar_block', heading: I18n.t('image.quick_guide.block_one.heading'), bullets: [I18n.t('image.quick_guide.block_one.bullet_one'), I18n.t('image.quick_guide.block_one.bullet_two')] %>
    </div>
</div>
