<main class="container-fluid">
  <% flash.each do |_, msg| %>
    <div class='alert'>
      <%= msg %>
    </div>
  <% end %>
  <div>
    <h2><%= I18n.t('image.upload.heading') %></h2>
    <p><%= I18n.t('image.upload.subheading') %></p>
  </div>

  <section>
    <%= form_with url: image_jobs_path, id: 'file-uploader' do |form| %>
    <div
      data-controller="image-uppy"
      data-uppy-parent-form="file-uploader">
    <% end %>
  </section>
</main>
