# AWS Credentials
export AWS_ACCESS_KEY_ID=pdf_accessibility_api # Default value for MinIO in the docker compose environment
export AWS_SECRET_ACCESS_KEY=pdf_accessibility_api # Default value for MinIO in the docker compose environment
export AWS_REGION="us-east-1"

# S3 Bucket Info
export S3_ENDPOINT=http://docker.for.mac.localhost:9000 # Do not set if connecting to the real AWS S3 bucket
export S3_BUCKET_NAME=pdf_accessibility_api # Default value for MinIO in the docker compose environment

# Alt Text Gem Info
export LLM_MODEL=default

#---------------------------------
# The below configurations are not
# needed if using docker compose
#---------------------------------

# Ignore AWS Config Files
export AWS_SDK_CONFIG_OPT_OUT=true

# Database configurations
export MYSQL_DB=
export MYSQL_USER=
export MYSQL_PASSWORD=
export MYSQL_PORT=
export MYSQL_HOST=
