version: 2.1

orbs:

  docker: circleci/docker@2.8.2
  browser-tools: circleci/browser-tools@1.5.2

parameters:

  GHA_Action:
    type: string
    default: ""
  GHA_Actor:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  CI_UTILS_IMAGE_TAG:
    type: string
    default: "v4.3.0"
  CONFIG_REPO_NAME:
    type: string
    default: "pdfapi-config"
  CONFIG_REPO_URL:
    type: string
    default: "git@github.com:psu-libraries/pdfapi-config.git"
  REGISTRY_HOST:
    type: string
    default: "harbor.k8s.libraries.psu.edu"

commands:

  clone-config-repo:
    steps:
      - add_ssh_keys
      - run:
          name: Prepare GitHub Access
          command: |
            ssh-keyscan github.com > ~/.ssh/known_hosts
            git clone $CONFIG_REPO_URL

  compute-docker-tag:
    steps:
      - run:
          name: Compute Docker Tag
          command: |
            if [[ "$CIRCLE_BRANCH" == "main" ]]; then
              TAG="$CIRCLE_SHA1"
            else
              SLUG=$(slugify-branch "$CIRCLE_BRANCH")
              TAG="${SLUG}--$CIRCLE_SHA1"
            fi
            echo "export TAG=$TAG" >> "$BASH_ENV"

executors:

  ci-utils:
    parameters:
      image_tag:
        type: string
      registry_host:
        type: string
    docker:
      - image: << parameters.registry_host >>/library/ci-utils:<< parameters.image_tag >>

jobs:

  build-image:
    environment:
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
      REGISTRY_REPO: "library/$CIRCLE_PROJECT_REPONAME"
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - run:
          name: Checkout Branch
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            if [[ "$CIRCLE_BRANCH" == update/* ]]; then
              git fetch origin "$CIRCLE_BRANCH"
              git checkout "$CIRCLE_BRANCH"
              echo "Now on branch: $(git rev-parse --abbrev-ref HEAD)"
            else
              echo "Using detached HEAD at commit: $CIRCLE_SHA1"
            fi
      - compute-docker-tag
      - docker/check:
          registry: $REGISTRY_HOST
      - docker/build:
          image: $REGISTRY_REPO
          registry: $REGISTRY_HOST
          tag: $TAG
          extra_build_args: "--target production"
          use-buildkit: true
      - run:
          name: Save image info for push job
          command: |
            mkdir -p /tmp/docker-image-info
            echo "$REGISTRY_HOST/$REGISTRY_REPO:$TAG" > /tmp/docker-image-info/image-name.txt
      - persist_to_workspace:
          root: /tmp
          paths:
            - docker-image-info

  push-image:
    environment:
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
      REGISTRY_REPO: "library/$CIRCLE_PROJECT_REPONAME"
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - compute-docker-tag
      - attach_workspace:
          at: /tmp
      - docker/check:
          registry: $REGISTRY_HOST
      - docker/build:
          image: $REGISTRY_REPO
          registry: $REGISTRY_HOST
          tag: $TAG
          extra_build_args: "--target production"
          use-buildkit: true
          cache_from: $REGISTRY_REPO:$TAG
      - docker/push:
          image: $REGISTRY_REPO
          registry: $REGISTRY_HOST
          tag: $TAG

  delete-deployment:
    parameters:
      delete_branch:
        type: string
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      CONFIG_REPO_NAME: << pipeline.parameters.CONFIG_REPO_NAME >>
      CONFIG_REPO_URL: << pipeline.parameters.CONFIG_REPO_URL >>
      DELETE_BRANCH: << parameters.delete_branch >>
    steps:
      - clone-config-repo
      - run:
          name: Delete Deployment
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            cd $CONFIG_REPO_NAME
            ./bin/delete-deployment

  deploy-application:
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      clusters: << parameters.clusters >>
      CONFIG_REPO_NAME: << pipeline.parameters.CONFIG_REPO_NAME >>
      CONFIG_REPO_URL: << pipeline.parameters.CONFIG_REPO_URL >>
    parameters:
      clusters:
        type: string
    steps:
      - clone-config-repo
      - compute-docker-tag
      - run:
          name: Add or Update Application Manifest
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            # Split comma-separated clusters into array and loop
            clusters="${clusters// /}"
            IFS=',' read -ra CLUSTERS \<<< "$clusters"
            echo "Pre loop Directory: $(pwd)"
            for cluster in "${CLUSTERS[@]}"; do
                export TARGET_CLUSTER="$cluster"
                echo "Processing cluster: $TARGET_CLUSTER"
                cd $CONFIG_REPO_NAME
                # ./bin/ci-write-manifest
                ./bin/generate_application
                echo "Finished processing $TARGET_CLUSTER"
                git status
            done
  deploy-preview-app:
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      clusters: << parameters.clusters >>
      CONFIG_REPO_NAME: << pipeline.parameters.CONFIG_REPO_NAME >>
      CONFIG_REPO_URL: << pipeline.parameters.CONFIG_REPO_URL >>
    parameters:
      clusters:
        type: string
    steps:
      - clone-config-repo
      - compute-docker-tag
      - run:
          name: Deploy Preview Application
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            # Split comma-separated clusters into array and loop
            clusters="${clusters// /}"
            IFS=',' read -ra CLUSTERS \<<< "$clusters"
            echo "Pre loop Directory: $(pwd)"
            for cluster in "${CLUSTERS[@]}"; do
                export TARGET_CLUSTER="$cluster"
                echo "Processing cluster: $TARGET_CLUSTER"
                cd $CONFIG_REPO_NAME
                # ./bin/ci-write-manifest
                ./bin/deploy-preview-app
                echo "Finished processing $TARGET_CLUSTER"
                git status
            done

  release-image:
    parameters:
      clusters:
        type: string
      from_tag:
        type: string
      to_tag:
        type: string
    executor: 
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      clusters: << parameters.clusters >>
      FROM_TAG: << parameters.from_tag >>
      TO_TAG: << parameters.to_tag >>
      CONFIG_REPO_NAME: << pipeline.parameters.CONFIG_REPO_NAME >>
      CONFIG_REPO_URL: << pipeline.parameters.CONFIG_REPO_URL >>
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
    steps:  
      - clone-config-repo
      - run:
          name: Tag & Release Image
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            export REGISTRY_REPO="$CIRCLE_PROJECT_REPONAME"
            /usr/local/bin/image-tag
            cd $CONFIG_REPO_NAME
            /usr/local/bin/image-release-pr clusters/prod/manifests/prod.yaml

  test-application:
    docker:
      - image: cimg/ruby:3.4.1
        environment:
          GITHUB_USER: 'psu-stewardship-bot'
          MYSQL_PASSWORD: pdf_accessibility_api
    steps:
      - checkout
      - setup_remote_docker:
          version: docker24
          docker_layer_caching: true
      - run:
          name: Install dependencies
          command: |
            gem install bundler -v "$(grep -A 1 'BUNDLED WITH' Gemfile.lock | tail -n 1 | xargs)"
            bundle _$(grep -A 1 'BUNDLED WITH' Gemfile.lock | tail -n 1 | xargs)_ install
      - run:
          name: Build and run containers
          command: docker-compose -f docker-compose.yml build --no-cache && docker-compose -f docker-compose.yml up --force-recreate -d
      - run:
          name: Wait for mysql to be ready
          command: docker-compose exec web bash ./wait_for_db.sh
      - run:
          name: "Lint"
          command: docker-compose exec -T web bundle exec niftany
      - run:
          name: "Run tests"
          command: RAILS_ENV=test docker-compose exec -it web bundle exec rspec

workflows:

  delete-deployment:
    when:
      equal: [ "delete", << pipeline.parameters.GHA_Event >> ]
    jobs:
      - delete-deployment:
          name: delete-deployment
          context: [org-global]
          delete_branch: << pipeline.parameters.GHA_Meta >>
          filters:
            branches:
              only: main

  docker-push:
    unless:
      equal: [ "delete", << pipeline.parameters.GHA_Event >> ]
    jobs:
      - build-image:
          name: build-image
          context:
            - org-global
          filters:
            branches:
              only:
                - main
                - /preview\/.*/
      - test-application:
          name: test-application
          context:
            - org-global
      - push-image:
          name: push-image
          context:
            - org-global
          filters:
            branches:
              only:
                - main
                - /preview\/.*/
          requires:
            - build-image
            - test-application
      - deploy-application:
          name: deploy-application
          context:
            - org-global
          clusters: "dev,uldev"
          filters:
            branches:
              only:
                - main
          requires:
            - push-image
      - deploy-preview-app:
          name: deploy-preview-app
          context:
            - org-global
          clusters: "uldev"
          filters:
            branches:
              only:
                - /preview\/.*/
          requires:
            - push-image
      - release-image:
          name: release-image
          clusters: "prod"
          context:
            - org-global
          from_tag: "<< pipeline.git.revision >>"
          to_tag: "<< pipeline.git.tag >>"
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+.*/
