<table>
  <thead>
    <tr>
      <th>File Name</th>
      <th>Started At</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.output_object_key, ui_job_path(job) %></td>
        <td><%= job.created_at.strftime("%b %e, %Y %l:%M %p") %></td>
        <td><%= job.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
