body.rails_admin .navbar.bg-primary { background-color: #001e44 !important; }
body.rails_admin .nav-link.active, body.rails_admin .nav-link:hover { background-color: #497295 !important; color: white; } 
body.rails_admin .nav-link { color: #337ab7; }
body.rails_admin .btn-primary { background-color: #001e44; border-color: #001e44; }
body.rails_admin .btn-primary:hover { background-color: #497295; border-color: #497295; }
body.rails_admin .btn-info { background-color: #96bee6; border-color: #001e44; }
body.rails_admin .btn-info:hover { background-color: #497295; }
body.rails_admin .breadcrumb a { color: #337ab7; }
body.rails_admin .table a { color: #337ab7; }
