<header>
  <h1>PDF Accessibility Remediation</h1>
</header>

<main>
  <div>
    <h2></h2>
    <h3></h3>
  </div>

  <section>
    <h3></h3>
    <form>
      <input>
      <button></button>
    </form>
  </section>

  <section>
    <ul></ul>
  </section>
</main>

<aside>
  <section>
    <h3></h3>
    <p></p>
  </section>

  <section>
    <h3></h3>
  </section>
</aside>

<footer></footer>