<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-header">
          Total PDF Pages Processed
        </div>
        <div class="card-body">
          <h2><%= total_pdf_pages_processed %></h2>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-header">
          PDF Pages Processed Today
        </div>
        <div class="card-body">
          <h2><%= pdf_pages_processed_today %></h2>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-header">
          PDF Jobs Currently Processing
        </div>
        <div class="card-body">
          <h2><%= pdf_processing_jobs_count %></h2>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-header">
          Sidekiq DeadSet
        </div>
        <div class="card-body">
          <h2><%= sidekiq_dead_set_size %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
